body {
  margin: 0;
  padding: 0 16px;
}

a {
  color: red;
}

a:hover {
  color: darkred;
}

.vangog-img-title {
  font-family: cursive;
}

.link-to-home {
  margin: 32px 0;
}

.biography {
  background-color: antiquewhite;
}

.biography h1 {
  text-align: center;
}

.biography h2 {
  font-family: cursive;
}

.biography p {
  font-family: arial, serif;
  line-height: 1.5rem;
}

.works {
  background-color: darkgrey;
}

.works h2 {
  font-family: monospace;
  font-size: 24px;
}

.works ul {
  list-style-type: none;
  display: flex;
}

.works ul li {
  display: grid;
  margin: 8px;
}

.works ul li span {
  margin-top: 8px;
  font-family: monospace;
  font-size: 16px;
}

.works ul li img {
  cursor: pointer;
}

.periods {
  background-color: azure;
}

.periods p {
  font-family: cursive;
}

.periods img {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.periods hr {
  margin-top: 32px;
  border: 1px solid gray;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: gray;
  margin: auto;
  height: 100%;
}

.modal-close {
  color: white;
  font-size: 128px;
  font-weight: bold;
  position: fixed;
  right: 32px;
}

.modal-close:hover, .modal-close:focus {
  color: lightgray;
  cursor: pointer;
}

.modal-img {
  height: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
